.login_component {
    .card {
      margin: 15px 0px;
    }

    .task-title {
      margin-left: 5px;
    }

    .button {
      margin: 5px;
    }

    .checkbox {
        margin-right: 10px;
    }
}