<section class="hero is-fullheight">
  <navbar></navbar>
  <div class="hero-body">

    <div class="login_component">
      <div class="control">
        <button class="button is-danger" id="new" ng-click="openTaskModal()">Nova Tarefa</button>
      </div>
      <div ng-repeat="task in user.tasks">

        <div class="card">
          <header class="card-header">
            <div class="field">
              <div class="control">
                <span class="tag is-success mark" ng-show="task.finished">TEAMINADO</span>
                <span class="tag is-danger mark" ng-show="!task.finished">PENDENTE</span>                
                <p class="card-header-title">
                  {{task.title}}
                </p>
              </div>
            </div>
          </header>

          <div class="card-content">
            <div class="content">
              <p>{{task.text}}</p>
            </div>

            <div class="content">
              <div class="field is-grouped is-grouped-multiline">
                <div class="control" ng-repeat="tag in getTags(task.id)">
                  <div class="tags has-addons">
                    <span class="tag is-info">{{tag.name}}</span>
                    <a class="tag is-delete" ng-click="deleteTag(tag.id)"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="card-footer">
            <a class="button is-danger" ng-click="deleteTask(task.id)">Deletar</a>
            <a class="button is-info" ng-click="openTagModal(task.id)">Adicionar tag</a>
            <a class="button is-success" ng-click="markAsDone(task)">Terminado</a>
          </footer>

        </div>
      </div>

      <div ng-include="'src/components/dashboard/create-task-modal.html'"></div>
      <div ng-include="'src/components/dashboard/create-tag-modal.html'"></div>
    </div>
  </div>

</section>